@(message: String)(implicit assetsFinder: AssetsFinder)

@style = {
    <link rel="stylesheet" media="screen" href="@assetsFinder.path("css/bootstrap.min.css")">
    <link rel="stylesheet" media="screen" href="@assetsFinder.path("css/fix-navbar.css")">
}

@main("Scala Play Framework Template", assetsFinder, style, true) {
    <main class="container" role="main">
        <div>
            <section>
                <div class="wrapper">
                    <h1>Home Page</h1>
                </div>
            </section>
        </div>

        <div>
            <article>
                <h1>Welcome, this is the Home Page</h1>
                <p>There are some links that you can prove:</p>
                <ul>
                    <li><a href="@routes.HomeController.something">Go to something</a></li>
                    <li><a href="@routes.HomeController.docs">Go to docs</a></li>
                    <li><a href="/login">Go to login</a></li>
                </ul>
            </article>
        </div>
    </main>
}
