@(title: String)(implicit assetsFinder: AssetsFinder)

@sthMessage = @{ "Something content" }

@style = {
    <link rel="stylesheet" media="screen" href="@assetsFinder.path("css/bootstrap.min.css")">
    <link rel="stylesheet" media="screen" href="@assetsFinder.path("css/fix-navbar.css")">
}
@isNavBar = { true }

@main(title, assetsFinder, style, true){
    <main class="container" role="main">
        <section>
            <div>
                <h1>This is the @sthMessage template.</h1>
            </div>
        </section>
        <div>
            <article>
                <h1>This is the Sth Page Main Section</h1>
                <p>Click in bellow to go back to home page</p>
            </article>

            <aside>
                <h3>Navigation</h3>
                <ul>
                    <li><a href="@routes.HomeController.index">Go to home</a></li>
                    <li><a href="@routes.HomeController.docs">Go to documentation</a></li>
                </ul>
            </aside>
        </div>
    </main>
}